<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "DatabaseName" connectionString = "Data Source=LAPTOP-HSGL6DT0\SQLEXPRESS;Initial Catalog=BMS_19125128_07;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>